.showcaseTitle {
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  color: rgb(204, 197, 0);
  text-shadow: 2px 2px 8px black;
}

.showcaseProjects {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.projectTile {
  width: 100%;
  margin-bottom: 20px;
  border: solid black 4px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(204, 197, 0);
}

.projectImage {
  width: 100%;
}

.projectTitle {
  width: 100%;
  color: black;
  font-size: 25px;
  font-weight: bold;
  border-top: solid black 5px;
}

.externalDisplay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.externalDisplayProject {
  width: 80%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: double black 12px;
  background-color: rgb(204, 197, 0);
}

.externalDisplayVideoContainer {
  display: block;
  height: 250px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border: groove black 4px;
}

.externalDisplayVideo {
  width: 100%;
  height: 100%;
}

.externalDisplayPortraitVideoContainer {
  display: block;
  height: 250px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border: groove black 4px;
}

.externalDisplayTitleContainer {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.externalDisplayTitle {
  display: inline-block;
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.externalDisplayTitleButton {
  display: inline-block;
  height: 50px;
  vertical-align: top;
  padding-left: 10px;
}

.externalDisplayDisc {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 150px;
}

.externalProjectDisc {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
  width: 90%;
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border: solid black 3px;
  overflow-y: scroll;
}

.externalDisplayButtonContainer {
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}

.displayButton {
  /* width: 100px; */
  width: 15%;
  cursor: pointer;
}


@media only screen and (min-width: 768px) {

  .showcaseProjects {
    width: 80%;
  }

  .projectTile {
    display: inline-block;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}


@media only screen and (min-width: 850px) {

  .externalDisplayProject {
    margin-top: 20px;
  }

  .externalDisplayVideoContainer {
    height: 350px;
    width: 60%;
  }

  .externalDisplayPortraitVideoContainer {
    height: 350px;
    width: 280px;
  }

  .externalDisplayDisc {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 150px;
  }

  .externalDisplayButtonContainer {
    position: absolute;
    height: 175px;
    width: 70px;
    top: 40px;
    right: 12%;
  }

  .displayButton {
    width: 100%;
    cursor: pointer;
  }
}
